language: php

php:
    - 5.6
    - 7.1
    - 7.2
    - 7.3

install: composer install -n

script:
    - bin/atoum -d tests/units

notifications:
    email:
        recipients:
            - py.stephane1@gmail.com
        on_success: change
        on_failure: change
